---
import type { MDXInstance } from "astro";

import Header from "@/shared/components/Header.astro";
import { formatDate } from "@/shared/utils/StringUtils";
import AppLayout from "@/shared/components/AppLayout.astro";
import PostComments from "@/features/blog/components/PostComments.astro";
import MarkdownView from "@/shared/components/MarkdownView.astro";

const { id: postID } = Astro.params;

const postModules = import.meta.glob("../data/*.mdx");
const postModule = Object.entries(postModules).find(([path]) => path.toLowerCase().endsWith(`${postID}.mdx`))![1];

const { Content, frontmatter } = (await postModule()) as MDXInstance<Record<string, string>>;
---

<AppLayout title={frontmatter.title} description={frontmatter.title}>
  <Header titleText="Blog">Blog</Header>
  <div class="border-gray mb-4 w-full border-b-2 border-dashed pb-4">
    <h2 class="m-0 p-0 text-xl">{frontmatter.title}</h2>
    <div class="text-gray">{formatDate(new Date(frontmatter.date))}</div>
  </div>
  <MarkdownView Content={Content} />
  <div class="border-gray my-4 w-full border-b-2 border-dashed"></div>
  <PostComments />
</AppLayout>
